@charset "UTF-8";




* { 
	box-sizing: border-box; 
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 5em 0; 
}

h1, h2, h3, h4, h5, h6{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

h1{
	text-transform: uppercase; 
}

.kontakt-tekst{
	font-weight: 200;
	font-size: 22px;
}



header{
	background-color: #391cd8;
	height: 5em;
	padding: 1em;
	margin-bottom: 4em;	
}

.logo img{
	height: 50px;
	width: auto;
}

nav ul{
	float: right;
	list-style-type: none;
}

nav li {
	display: inline-block;
}

nav li a {
	text-decoration: none;
	padding: 1em;
	font-size: 20px;
	color:#fff;
	text-transform: uppercase;
}

nav a:hover{
	color: #de7e11;
	transition: 0.5s; 
}

main{
    padding: 0 2em 2em;
}




input[type=text], input[type=email],input[type=tel], select, textarea { /*vælger de emner/typer som skal berøres af nedenstående css*/
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 0.5em;
  margin-bottom: 1em;

}

select{
	padding: 0.675em 6em 0.675em 1em;
	appearance: none;
	-webkit-appearance: none; 
	cursor: pointer;
}

.custom-select {
	position: relative;
  }

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 48%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 63%;
}

input[type=submit] {
  background-color: #df6500;
  color: white;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 4px;
  width:100%;
  margin-top: 1em;
  font-size: 18px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ba5400;
  transition: 0.5s;
 
}

input[type=checkbox]{
	margin: 0.8em 0;
	cursor: pointer;
}

.checkbox{ 
	margin: 0.8em 0;
}

input[type=radio]{
	cursor: pointer;
}

fieldset{
	border-color: #391cd8;
	border-style: dotted; 
}

::placeholder{ 
	color:#333;
}

.kontaktform {
  border-radius: 5px;
  background-color: #c5c5c5;
  padding: 1.3em;
  width: 50%;
  margin: 0 auto; 
}



.visually-hidden{ 
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}




@media only screen and (max-width: 850px){
	main{
		width: 100% !important;
	}
	body{
		margin: 0;
	}
	header{
		margin-bottom: 0;
	}
}

